@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Moul';
  src: url('../fonts/Moul-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color: #222;
  background-image: url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper {
  text-align: center;
}
/* #days > .wrapper > .time, #hours .time, #minutes .time, #seconds .time {
  font-weight: bold;
  font-size: 3.5em;
} */
.wrapper .time, .wrapper .label {
  border: 1px solid #535353;
  border-radius: 15px;
  background: rgb(112,43,154);
  background: linear-gradient(180deg, rgb(112 43 154 / 70%) 5%, rgb(78 19 122 / 80%) 45%, rgb(89 0 255 / 85%) 85%);
}
.wrapper .label {
  margin-top: -28px;
}
.time {
  font-weight: bold;
  font-size: 25em;
  color: #f5f5f5;
  transform: translate(50%,-50%);
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}
.label {
  font-size: 5em;
  display: block;
  color: #fff;
  /* font-family: Moul; */
}

.bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
}
.col-sm-3 {
  /* flex: 0 0 22% !important; */
}
